@media (max-width:640px) {  
    .container.active .main {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 50%;
    }
    
    .container.active .shadow.one {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 50%;
    }
    
    .container.active .shadow.two {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 50%;
    }
} 

